/* Keyframes - animações */
@keyframes ampliar {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.01);
    } 
}

/* estilo geral */
* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    height: 100vh;
    margin-bottom: 30px;
}

a, .bi {
    text-decoration: none;
    color: rgb(253, 136, 59);
}

.bi:hover {
    color: rgb(218, 100, 22);
}


.img{
    border: 1px solid orange;
    border-radius: 50%;
    margin-left: 30px;
}

.icone{
    width: 100%;
}

.col-10 {
    height: 40rem;
}
.info-container {
    box-shadow: rgb(255, 191, 72) 0px 1px 2px 0px, rgb(255, 189, 67) 0px 1px 3px 1px;
    padding: 30px;
}

.info-container .col-12 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---- NAVBAR LATERAL ----*/
/* barra de navegação fantasma */
.navbar-lateral-fantasma {
    width: clamp(5rem, 9vw, 12rem);
}
/* barra de navegação lateral */
.navbar-lateral {
    position: fixed;
    padding: 20px;
    height: 100%;
    width: clamp(5rem, 8vw, 12rem);
    border-right: 1px solid rgb(180, 180, 180);
    background-color: white;

}

.navbar-lateral img {
    border-radius: 50px;
}

.navbar-lateral {
    font-size: x-large;
}

.titulo-bloco {
    position:absolute;
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin-top: 5px;
}

.dropdown-item-mobile {
    display: none;
}
.user-config {
    height: 70px;
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
}

.btn-group {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
}
.btn-dropdown {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-radius: 10px;
    border: none;
    width: 100px;
}

.btn-group .bi-bell-fill {
    font-size: x-large;
}
.btn-dropdown .bi {
    font-size: xx-large;
}

@media screen and (max-width: 768px) {
    .navbar-lateral, .navbar-lateral-fantasma {
        display: none;
    }

    .col-10 {
        width: 100%;
        height: 100%;
    }

    main {
        padding: 10px;
    }

    .titulo-bloco {
        justify-content: flex-start;
    }

    .dropdown-item-mobile {
        display: block;
    }

}

@media screen and (min-width: 1440px) {
    .titulo-bloco {
        justify-content: flex-start;
    }
}