/* Keyframes - animações */
@keyframes ampliar {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.01);
    } 
}

/* estilo geral */
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    margin-bottom: 30px;
}

a, .bi {
    text-decoration: none;
    color: rgb(253, 136, 59);
}

.bi:hover {
    color: rgb(218, 100, 22);
}


.img{
    border: 1px solid orange;
    border-radius: 50%;
    margin-left: 30px;
}

.icone{
    width: 100%;
}

.col-10 {
    height: 40rem;
}
.info-container {
    box-shadow: rgb(255, 191, 72) 0px 1px 2px 0px, rgb(255, 189, 67) 0px 1px 3px 1px;
    padding: 30px;
}

.info-container .col-12 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

dialog {
    padding: 30px;
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 50px;
}

@media screen and (max-width: 768px) {
    .col-10 {
        width: 100%;
        height: 100%;
    }

    main {
        padding: 10px;
    }

}