/* Keyframes - animações */
@keyframes ampliar {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.01);
    }
}

/* estilo geral */
* {
    font-family: "EB Garamond", serif;
}

body {
    height: 100vh;
}

a,
.bi {
    text-decoration: none;
    color: rgb(253, 136, 59);
}


/* NAVBAR */
/* Estilo da navbar lateral*/
/* barra de navegação fantasma */
.navbar-lateral-fantasma {
    width: clamp(5rem, 9vw, 12rem);
}

/* barra de navegação lateral */
.navbar-lateral {
    position: fixed;
    padding: 20px;
    height: 100%;
    width: clamp(5rem, 8vw, 12rem);
    border-right: 1px solid rgb(180, 180, 180);
    background-color: white;

}

.navbar-lateral img {
    border-radius: 50px;
}

.navbar-lateral {
    font-size: x-large;
}

/* btn dropdown user mobile*/
.dropdown-item-mobile {
    display: none;
}

/* btn dropdown user */
.user-config {
    height: 70px;
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
}

.btn-group {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
}

.btn-dropdown {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-radius: 10px;
    border: none;
    width: 100px;
}

.btn-group .bi-bell-fill {
    font-size: x-large;
}

.btn-dropdown .bi {
    font-size: xx-large;
}

/* BLOCO RECEITAS */
.add-icon {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    font-size: xx-large;
}

.card:hover {
    animation: ampliar 0ms linear forwards;
}

.add-icon-orcamento {
    text-decoration: none;
    font-size: xx-large;
}

table .bi {
    margin: -50px;
    font-size: x-large;
}

.despesa-pc, .despesa-mobile, .despesa-little-mobile, .receita-pc, .receita-mobile, .receita-little-mobile{
    padding: 50px;
    border-radius: 30px;
}

.despesa-pc, .despesa-mobile, .despesa-little-mobile {
    background-color: rgb(255, 157, 157);
}

.receita-pc, .receita-mobile, .receita-little-mobile {
    background-color: rgb(194, 255, 144);
}

.receita-little-mobile, .despesa-little-mobile{
    display: none;
}
/* tabela mobile */
.receita-mobile, .despesa-mobile{
    display: none;
}

/* CABEÇALHO */
/* Título da página */
.titulo-bloco {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 50%;
}


/* TODOS DEVEM TER** EXCETO A INDEX */
@media screen and (max-width: 488px) {
    div .receita-mobile, div .despesa-mobile{
        display: none;
    }
    
    .receita-little-mobile, .despesa-little-mobile{
        display: block;
    }
}

@media screen and (max-width: 1012px) {
    .receita-pc, .despesa-pc{
        display: none;
    }

    .receita-mobile, .despesa-mobile {
        display: block;
    }
}

/* modificações para telas menores que 768px */
@media screen and ( max-width: 768px) {

    .navbar-lateral,
    .navbar-lateral-fantasma {
        display: none;
    }

    .col-10 {
        width: 100%;
    }

    /* itens do dropdown */
    .dropdown-item-mobile {
        display: block;
    }

    /* tira os icones editar e excluir do bloco 4 - orçamentos */
    tr td a {
        display: none;
    }

    .receita-pc, .despesa-pc {
        display: none;
    }

    .receita-mobile, .despesa-mobile {
        display: block;
    }

    .titulo-bloco {
        justify-content: flex-start;
    }
}

/* Telas grandes */
@media screen and (min-width: 1440px) {
    .titulo-bloco {
        justify-content: flex-start;
    }
}