/* Animações */
@keyframes ampliar {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.02);
    }
  }
/* estilo geral */
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    margin-bottom: 200px;
}
a, .bi {
    text-decoration: none;
    color: rgb(253, 136, 59);
}

.bi:hover {
    color: rgb(218, 100, 22);
}

.col-10 {
    margin-bottom: 50px;
}

.container {
    margin-bottom: 30px;
}

.container-estilizado {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 20px;
}

/* modificações para telas menores que 768px */
@media screen and (max-width: 768px) {
    .col-10 {
        width: 100%;
    }

    .tela-final {
        display: none;
    }

}